<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- Include Header -->
    <div id="header"></div>

    <!-- Konten utama -->
    <section class="bg-white py-8">
        <div class="container mx-auto px-4">
            <h1 class="text-3xl font-bold text-center">Selamat Datang di Website Kami</h1>
            <p class="text-center mt-4 text-gray-600">Kami adalah perusahaan teknologi inovatif yang berdedikasi untuk memberikan layanan IT yang terbaik untuk Anda. Kami memiliki tim yang sangat ahli dan berpengalaman dalam berbagai bidang teknologi.</p>
            <div class="mt-10">
                <h2 class="text-2xl font-semibold mb-4">Layanan Kami</h2>
                <ul class="list-disc pl-5">
                    <li class="mb-2 flex items-center">
                        <svg class="h-5 w-5 mr-2 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1.245M15.665 8.485a1.23 1.23 0 011.668-.245l3.522 3.52a1.23 1.23 0 01-1.669 1.245V14a1 1 0 01-1 1h-2a1 1 0 01-1-1V6.414a1 1 0 011-1H4.89a1 1 0 01-1.668-.245l-3.522-3.52a1.23 1.23 0 011.669-1.245V3a1 1 0 011 1h2a1 1 0 011 1V10.59"></path></svg>
                        Web Development
                    </li>
                    <li class="mb-2 flex items-center">
                        <svg class="h-5 w-5 mr-2 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01"></path><path d="M8 21a6 6 0 00-6-6V5a6 6 0 016 6v10a6 6 0 00-6 6h3"></path></svg>
                        Mobile App Development
                    </li>
                    <li class="mb-2 flex items-center">
                        <svg class="h-5 w-5 mr-2 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 17h2.828V7H7.172V5H5v12h12v-2z"></path></svg>
                        IT Consulting
                    </li>
                    <li class="mb-2 flex items-center">
                        <svg class="h-5 w-5 mr-2 text-blue-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m0 4.87V19l3.75 3.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        Cyber Security
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Include Footer -->
    <div id="footer"></div>

    <script src="../public/js/scripts.js"></script>
</body>
</html>
