<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informasi - Nokt Tech</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Include Header -->
    <div id="header"></div>

    <!-- Konten utama -->
    <main class="mt-10">
      <h1 class="text-4xl font-bold text-center mb-6 text-white">Informasi</h1>
      <section class="container mx-auto px-4">
        <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
          <h2 class="text-3xl font-semibold mb-4">Informasi Terbaru</h2>
          <p class="text-gray-700 mb-4">
            Di halaman ini, Anda akan menemukan informasi terbaru tentang
            kegiatan dan pengumuman dari Nokt Tech. Kami terus memperbarui
            informasi kami untuk memastikan Anda selalu mendapatkan berita
            terkini.
          </p>
          <ul class="list-disc pl-5">
            <li class="mb-2">
              Pengumuman terbaru tentang peluncuran produk baru.
            </li>
            <li class="mb-2">
              Update tentang event dan seminar yang akan datang.
            </li>
            <li class="mb-2">
              Artikel dan studi kasus terbaru dari proyek-proyek kami.
            </li>
          </ul>
        </div>
      </section>
    </main>

    <!-- Include Footer -->
    <div id="footer"></div>

    <script src="../../public/js/scripts.js"></script>
  </body>
</html>
