<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil - Nokt Tech</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Include Header -->
    <div id="header"></div>

    <!-- Konten utama -->
    <main class="mt-10">
      <h1 class="text-4xl font-bold text-center mb-6">Profil Kami</h1>
      <section class="container mx-auto px-4">
        <div class="bg-gray-100 p-6 rounded-lg shadow-lg">
          <h2 class="text-3xl font-semibold mb-4">Tentang Kami</h2>
          <p class="text-gray-700 mb-4">
            Nokt Tech adalah perusahaan web developer yang berdedikasi untuk
            memberikan solusi teknologi terdepan bagi perusahaan dan individu.
            Kami memiliki tim profesional yang berpengalaman dalam berbagai
            bidang teknologi, siap untuk membantu Anda mencapai kesuksesan.
          </p>
          <p class="text-gray-700">
            Visi kami adalah menjadi perusahaan web developer terkemuka di
            Indonesia yang dapat membantu perusahaan dan individu untuk
            meningkatkan kinerja dan efisiensi dengan menggunakan teknologi yang
            inovatif.
          </p>
          <p class="text-gray-700">
            Misi kami adalah memberikan layanan pengembangan web yang
            berkualitas dan inovatif untuk membantu perusahaan dan individu
            dalam meningkatkan kinerja dan efisiensi, serta memberikan solusi
            yang optimal dan efisien.
          </p>
        </div>
      </section>
    </main>

    <!-- Include Footer -->
    <div id="footer"></div>

    <script src="../../public/js/scripts.js"></script>
  </body>
</html>
